#root{
  height: 100vh;
  background-color: #2a2a2b;
}

.App {
  text-align: center;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(50px + 2vmin);
  font-weight: 200;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}
.App-header #with{
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
} 
.App-header #react{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(15px + 1vmin);
  font-weight: 400;
  color:#61dafb;
}

#display {
  color: white; 
  font-family: 'Monda', sans-serif;
  font-size: 40px;
}
.container{
  font-family: 'Alata', sans-serif;
}
.key{
  background-color: inherit!important;
  font-size: 30px!important;
  height: 2em;
  border: 2px solid #007bff!important;
}
.functions{
  /* padding: 0!important; */
}
.all{
  min-width: 400px;
  width: 600px;
}
#parent{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}